html, body {
	background-color : black;
	height: 100%;
	width: 100%;
	color: white;
}

#room-details {
	width: 100%;
}

#messages {
	width: 100%;
	height: 80%;
	overflow-y: auto;
	border-radius: 10px;
	margin: 0 auto;
}

.message {
	border: white 1px solid;
	border-radius: 10px;
	width: 95%;
	margin: 0 auto;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 5px;
}

.sent {
	background-color: rgba(41, 229, 94, 0.6);
}

.received {
	background-color: rgba(74, 159, 249, 0.8);
}

#form {
	width: 100%;
}

#message-form {
	width: 90%;
	float: left;
}

#change-details {
	float: right;
}